class Create<%= @data[:classname] %> < ActiveRecord::Migration[<%= @data[:ar_version] %>]
  def self.up
    create_table :<%= @data[:plural] %> do |t|
<% @data[:ary].each do |x| %>    
      t.column :<%= x.name %>, :<%= x.type %>, :null => <%= x.null %>
<% end %>
      t.timestamps  null: false
    end
  end

  def self.down
    drop_table :<%= @data[:plural] %>
  end
end
