*.gemspec.*
Rakefile.*
/Gemfile.lock
/checksums/
/vendor/
/.git_2/
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/db/
# rspec failure tracking
.rspec_status
*.code-workspace
lib/dbrelation.rb
config/db_scheme.yml
config/opts.rb
bin/makemigrate
db/*.log
bin/*.erb
bin/a.rb
/config2/
a.bat
/db/*.sqlite3
.ruby-version
/_backup/

